body {
  margin: 24px;
  font-family: "Overpass", sans-serif;
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}
h1 {
  font-size: 24px;
  font-weight: 700;
  color: #fff;
}

p {
  font-size: 14px;
  line-height: 22px;
  font-weight: 400;
  color: hsl(217, 12%, 63%);
}
p.user-result {
  background-color: hsl(213, 19%, 18%);
  color: hsl(25, 97%, 53%);
  border-radius: 22.5px;
  padding: 5px 12px;
  margin: 24px 49px;
}
p.thanks-result {
  margin: 0 24px 37px;
}
label,
.star-circle {
  background-color: hsl(213, 20%, 18%);
  border-radius: 50%;
  border: none;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
button {
  display: block;
  background-color: hsl(25, 97%, 53%);
  color: #fff;
  margin: 24px 0 32px;
  padding: 12px;
  border-radius: 22.5px;
  border: none;
  text-align: center;
  text-transform: uppercase;
  width: 100%;
}
button:hover {
  background-color: #fff;
  color: hsl(25, 97%, 53%);
  cursor: pointer;
}
input {
  display: none;
}
label {
  display: inline-flex;
  flex-direction: horizontal;
  height: 42px;
  width: 42px;
  margin-right: 10px;
  color: hsl(216, 12%, 54%);
}

label:hover {
  background-color: hsl(25, 97%, 53%);
  cursor: pointer;
}

label:hover,
label:focus {
  color: #fff;
}
label:focus,
input:focus {
  background-color: hsl(217, 12%, 63%);
}
/* focus isn't working atm */

.container {
  background-color: hsl(216, 12%, 8%);
  border-radius: 15px;
  /* background: hsl(215, 20%, 17%); */
  background: radial-gradient(
    circle,
    hsl(215, 20%, 17%) 0%,
    hsl(216, 24%, 12%) 100%
  );
  padding: 24px;
  /* width: 327px; */
  width: 279px;
  margin: 25px;
}
.star-circle {
  height: 40px;
  width: 40px;
  margin-bottom: 16px;
}
.hidden {
  display: none;
}
/* https://developer.mozilla.org/en-US/docs/Web/CSS/:active */
/* figure out how to make previous hover gray */
#scoring-row {
  display: inline-flex;
}

#thank-you-state {
  text-align: center;
}
#thanks-img {
  margin-top: 34px;
}
@media (width: 1440px) {
  h1 {
    font-size: 28px;
    margin: 30px 0 7px;
  }
  p {
    font-size: 15px;
    line-height: 24px;
  }
  p.rating-info {
    margin-right: 50px;
  }
  label {
    margin: 24px 14px 32px;
    width: 51px;
    height: 51px;
  }
  button {
    display: block;
    margin: 0 auto;
  }
  .container {
    margin: 25vh auto;
    padding: 32px;
    width: 412px !important;
    height: 416px;
  }

  .star-circle {
    width: 48px;
    height: 48px;
  }
}
