body {
  margin: 20%;
  /* display: flex;
  align-content: center;
  justify-content: center; */
  font-family: "Overpass", sans-serif;
  background-color: black;
}
h1 {
  font-size: 24px;
  font-weight: 700;
  color: #fff;
}

p {
  font-size: 15px;
  font-weight: 400;
  color: hsl(217, 12%, 63%);
}
button {
  background-color: hsl(25, 97%, 53%);
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  border-radius: 22.5px;
  flex-shrink: 0;
  padding: 12px;
  width: 100%;
}
button:hover {
  background-color: #fff;
  color: hsl(25, 97%, 53%);
  cursor: pointer;
}
.container {
  background-color: hsl(216, 12%, 8%);
  border-radius: 15px;
  /* background: hsl(215, 20%, 17%); */
  background-color: radial-gradient(
    circle,
    hsl(215, 20%, 17%) 10%,
    hsl(216, 24%, 12%) 100%
  );
  padding: 24px;
}
.star-circle,
.circle {
  border-radius: 50%;
  background-color: hsl(213, 20%, 18%);
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.star-circle {
  height: 40px;
  width: 40px;
}
.circle {
  height: 42px;
  width: 42px;
}
.circle:hover {
  background-color: hsl(25, 97%, 53%);
  color: #fff;
  cursor: pointer;
}
/* figure out how to make previous hover gray */
